<ion-header>
  <ion-navbar>
    <ion-title>GameMemorySquare</ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="gameTuto == 0">

  <div *ngFor="let x of matrix" style="margin:10wh 10vw 10wh 10vw; height:80wh; width:80vw; border-left:1px solid #222; border-top:1px solid #222">

    <div *ngFor="let y of x" class="square" style="float:left; border-right:1px solid #222; border-bottom:1px solid #222" [ngStyle]="{'width': matrixWidth + '%', 'height': matrixWidth + '%'}">

        {{y}} | 

    </div>   

  </div>

</ion-content>


<!-- Tuto -->
<ion-content padding *ngIf="gameTuto == 1">
  
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus scelerisque nisi sit amet pretium. Phasellus lacinia commodo nibh at placerat. Etiam purus ex, condimentum eget mauris in, vulputate pharetra lacus. Ut fermentum malesuada tortor tempus sagittis. Maecenas tincidunt felis rhoncus mattis dapibus. Sed quis porttitor dolor, id vulputate magna. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ut pellentesque nunc. Donec id facilisis sem. Cras ut neque mi. Integer urna nisl, elementum eget nisi ac, efficitur sollicitudin mi. Suspendisse porta a augue in interdum. Ut rutrum nibh est, ut feugiat tortor blandit at. Cras malesuada tincidunt magna, sed fermentum quam scelerisque sed.
  <br><br>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus scelerisque nisi sit amet pretium. Phasellus lacinia commodo nibh at placerat. Etiam purus ex, condimentum eget mauris in, vulputate pharetra lacus. Ut fermentum malesuada tortor tempus sagittis. Maecenas tincidunt felis rhoncus mattis dapibus. Sed quis porttitor dolor, id vulputate magna. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ut pellentesque nunc. Donec id facilisis sem. Cras ut neque mi. Integer urna nisl, elementum eget nisi ac, efficitur sollicitudin mi. Suspendisse porta a augue in interdum. Ut rutrum nibh est, ut feugiat tortor blandit at. Cras malesuada tincidunt magna, sed fermentum quam scelerisque sed.

</ion-content>
  
<ion-footer class="button-footer" *ngIf="gameTuto == 1">
    <button class="btn btn-block btn-normal btn-3 btn-3b" (click)="gameExitTuto()">Continue</button>
</ion-footer>
