$yellow: #ffd520;
$black: #111;

page-welcome {

    h1 {
        margin-top: 10vh !important;
        margin-left:5vw !important;
    }
    h2 {
        margin-left: 5vw !important;
    }

    .btn-fb {
        margin-top: 10px;
        color: #005598;
        padding-left:0;
        padding-right:0;
    }

}
